<!-- page-head start---------- ---------------------->
<section class="page-head">
    <div class="container">
        <h3>About<span> Us </span> </h3>
        <div class="services-breadcrumb">
            <ul>
                <li><a href="mina.html">Home</a></li>
                <i>|</i>
                <li>About</li>
            </ul>
        </div>
    </div>
</section>
<!-- page-head end---------- ---------------------->


<section class="about-elite">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 col-sm-12">
                <img src="~/img/ab_pic.jpg" alt="">
            </div>
            <div class="col-md-6 col-12 col-sm-12">
                <h5>About Our Elite <span> Shoppy</span> </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl
                    ullamcorper, molestie blandit ipsum auctor. Mauris volutpat augue dolor..
                </p>
                <p>
                    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab ore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore magna
                    aliqua.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="banner-section">
    <div class="container">
        <div class="row">
            <div class="banner-content col-12 col-sm-12 col-md-6 col-lg-6">
                <figure class="banner-effect">
                    <img src="~/img/bottom1.jpg" alt="banner-photo">
                    <figcaption>
                        <h2><span>f</span>all ahead</h2>
                        <p>New Arrivals</p>
                    </figcaption>
                </figure>
            </div>
            <div class="banner-content col-12 col-sm-12 col-md-6 col-lg-6">
                <figure class="banner-effect" id="banner-right-photo">
                    <img src="~/img/bottom2.jpg" alt="banner-photo">
                    <figcaption>
                        <h2><span>f</span>all ahead</h2>
                        <p>New Arrivals</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="our-team">
    <div class="container">
        <h3>OUR TEAM <span>MEMBERS</span> </h3>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-6 team-grid">
                <div class="thumbnail">
                    <img src="~/img/t1.jpg" alt="">
                    <div class="team-icons">
                        <div class="caption">
                            <h4>Joanna Vilken</h4>
                            <p>Add Short Description</p>
                            <ul class="social-nav model-3d-0 footer-social w3_agile_social">
                                <li>
                                    <a href="#" class="facebook">
                                        <div class="front">
                                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        </div>
                                        <div class="back"><i class="fab fa-facebook-f" aria-hidden="true"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <div class="front">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </div>
                                        <div class="back">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="instagram">
                                        <div class="front"><i class="fab fa-instagram" aria-hidden="true"></i></div>
                                        <div class="back"><i class="fab fa-instagram" aria-hidden="true"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="pinterest">
                                        <div class="front">
                                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                        </div>
                                        <div class="back">
                                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 team-grid">
                <div class="thumbnail">
                    <img src="~/img/t2.jpg" alt="">
                    <div class="team-icons">
                        <div class="caption">
                            <h4>Joanna Vilken</h4>
                            <p>Add Short Description</p>
                            <ul class="social-nav model-3d-0 footer-social w3_agile_social">
                                <li>
                                    <a href="#" class="facebook">
                                        <div class="front">
                                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        </div>
                                        <div class="back"><i class="fab fa-facebook-f" aria-hidden="true"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <div class="front">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </div>
                                        <div class="back">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="instagram">
                                        <div class="front"><i class="fab fa-instagram" aria-hidden="true"></i></div>
                                        <div class="back"><i class="fab fa-instagram" aria-hidden="true"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="pinterest">
                                        <div class="front">
                                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                        </div>
                                        <div class="back">
                                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 team-grid">
                <div class="thumbnail">
                    <img src="~/img/t3.jpg" alt="">
                    <div class="team-icons">
                        <div class="caption">
                            <h4>Joanna Vilken</h4>
                            <p>Add Short Description</p>
                            <ul class="social-nav model-3d-0 footer-social w3_agile_social">
                                <li>
                                    <a href="#" class="facebook">
                                        <div class="front">
                                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        </div>
                                        <div class="back"><i class="fab fa-facebook-f" aria-hidden="true"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <div class="front">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </div>
                                        <div class="back">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="instagram">
                                        <div class="front"><i class="fab fa-instagram" aria-hidden="true"></i></div>
                                        <div class="back"><i class="fab fa-instagram" aria-hidden="true"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="pinterest">
                                        <div class="front">
                                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                        </div>
                                        <div class="back">
                                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-6 team-grid">
                <div class="thumbnail">
                    <img src="~/img/t4.jpg" alt="">
                    <div class="team-icons">
                        <div class="caption">
                            <h4>Joanna Vilken</h4>
                            <p>Add Short Description</p>
                            <ul class="social-nav model-3d-0 footer-social w3_agile_social">
                                <li>
                                    <a href="#" class="facebook">
                                        <div class="front">
                                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        </div>
                                        <div class="back"><i class="fab fa-facebook-f" aria-hidden="true"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <div class="front">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </div>
                                        <div class="back">
                                            <i class="fab fa-twitter" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="instagram">
                                        <div class="front"><i class="fab fa-instagram" aria-hidden="true"></i></div>
                                        <div class="back"><i class="fab fa-instagram" aria-hidden="true"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="pinterest">
                                        <div class="front">
                                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                        </div>
                                        <div class="back">
                                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--store sales schedule html started-->
<section class="schedule-section">
    <div class="container-fluid">
        <div class="row">
            <div class="schedule-left-content col-12 col-sm-12 col-md-12 col-lg-6">
                <img src="~/img/mid.jpg" alt="store-photo">
            </div>
            <div class="schedule-right-content col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="store-sales-schedule">
                    <div class="schedule-header">
                        <h2>save up to <span>50%</span> in this week</h2>
                        <p>
                            Suspendisse varius turpis efficitur erat laoreet dapibus. Mauris sollicitudin scelerisque
                            commodo.
                            Nunc dapibus mauris sed metus finibus posuere.
                        </p>
                    </div>
                    <div class="store-sales-statics row">
                        <div class="customers col-12 col-sm-12 col-md-12 col-lg-4">
                            <span id="counter">
                                <i class="far fa-user"></i>
                                <p>customers</p>
                                <span class="counter-value" data-count="653">0</span>
                        </div>
                        <div class="events col-12 col-sm-12 col-md-12 col-lg-4">
                            <i class="far fa-calendar"></i>
                            <p>events</p>
                            <span class="counter-value" data-count="823">100</span>
                        </div>
                        <div class="awards col-12 col-sm-12 col-md-12 col-lg-4">
                            <i class="fas fa-shield-alt"></i>
                            <p>awards</p>
                            <span class="counter-value" data-count="45">200</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--store sales schedule html ended-->
<!--trending section html started-->
<section id="trending-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-header">
                    <h1><span>what's</span> trending</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="row">
                    <div class="content-left-side col-12 col-sm-12 col-md-5">
                        <figure class="content-photo">
                            <img src="~/img/bb1.jpg" alt="trending-photo">
                            <figcaption>
                                <h2><span>s</span>ale</h2>
                                <p>Upto 55%</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="content-right-side col-12 col-sm-12 col-md-7">
                        <div class="banner-content col-12 col-sm-12 col-md-12">
                            <figure class="banner-effect">
                                <img src="~/img/bottom3.jpg" alt="trending-photo">
                                <figcaption>
                                    <h2 class="content-right-side-header"><span>s</span>ale</h2>
                                    <p class="content-right-side-p">Upto 55%</p>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="banner-content col-12 col-sm-12 col-md-12">
                            <figure class="banner-effect" id="banner-effect">
                                <img src="~/img/bottom4.jpg" alt="trending-photo">
                                <figcaption>
                                    <h2 class="content-right-side-header"><span>s</span>ale</h2>
                                    <p class="content-right-side-p">Upto 55%</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--trending section html ended-->
<!--flat offer section html started-->
<section class="flat-offer">
    <div class="container-fluid">
        <div class="row">
            <div class="offer-content col-12 col-sm-12 col-md-6">
                <div class="div-for-shadow-top"></div>
                <div class="div-for-shadow-bottom"></div>
                <figure>
                    <img src="~/img/bot_1.jpg" alt="offer-photo">
                    <figcaption>
                        <h2>Flat <span>50%</span> offer</h2>
                    </figcaption>
                </figure>
            </div>
            <div class="offer-content col-12 col-sm-12 col-md-6">
                <div class="div-for-shadow-top"></div>
                <div class="div-for-shadow-bottom"></div>
                <figure>
                    <img src="~/img/bot_2.jpg" alt="offer-photo">
                    <figcaption>
                        <h2>Flat <span>50%</span> offer</h2>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<!--flat offer section html end-->
<!-- discount section start -->
<section class="discount" data-name="discount">
    <div class="row">
        <div class="container">
            <p class="weOffer">We Offer Flat <span>40%</span> Discount</p>
            <button href="#" class="hoverOutta">Shop Now</button>
        </div>
    </div>
</section>
<!-- discount section end -->
<!-- servis icon animaton start -->
<section class="servis data-name=" services">
    <div class="row">
        <div class="service mt-2 col-xl-3 col-md-6 col-sm-6 col-12 float-left">
            <div class="blackHole float-left"><i class="fas fa-truck"></i></div>
            <div class="whiteSoul text-left col-xl-10 col-lg-10 col-md-8 col-sm-10 col-10">
                <h5 class="mb-1">FREE SHIPPING</h5>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
            </div>
        </div>
        <div class="service mt-2 col-xl-3 col-md-6 col-sm-6 col-12 float-left">
            <div class="blackHole float-left"><i class="fas fa-headphones"></i></div>
            <div class="whiteSoul text-left  col-xl-10 col-lg-10 col-md-8 col-sm-10 col-10">
                <h5 class="mb-1">24/7 SUPPORT</h5>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
            </div>
        </div>
        <div class="service mt-2 col-xl-3 col-md-6 col-sm-6 col-12 float-left">
            <div class="blackHole float-left"><i class="fas fa-shopping-bag"></i></div>
            <div class="whiteSoul text-left col-xl-10 col-lg-10 col-md-8 col-sm-10 col-10">
                <h5 class="mb-1">MONEY BACK GUARANTEE</h5>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
            </div>
        </div>
        <div class="service mt-2 col-xl-3 col-md-6 col-sm-6 col-12 float-left">
            <div class="blackHole float-left"><i class="fas fa-gift"></i></div>
            <div class="whiteSoul text-left  col-xl-10 col-lg-10 col-md-8 col-sm-10 col-10">
                <h5 class="mb-1">FREE GIFT COUPONS</h5>
                <p>Lorem ipsum dolor sit amet, consectetur</p>
            </div>
        </div>
    </div>

</section>
<!-- servis icon animaton end -->